body {
    display: grid;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}

.tracker-container {
    display: grid;
    grid-gap: 5px 20px;
    border-style: inset;
    padding: 10px;
}
