body {
    display: grid;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    background-color: #efefef;
}

form {
    display: grid;
    grid-gap: 10px 20px;
}

.gridContainer {
    display: grid;
    grid-template-columns: auto auto;
}

.trackerContainer {
    display: grid;
    border-style: inset;
    padding: 10px;
    background-color: #fff;
}

#trackingList{
    grid-column-start: 1;
}